.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 150px;
}

.nav-items {
  padding: 2px 20px;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {
  padding: 10px 20px;
  margin: 10px;
}
.restroCard {
  margin: 3px;
  width: 200px;
  padding: 5px;
}
.restroCard:hover {
  cursor: pointer;
  border: 1px solid black;
}
.bodySearch {
  padding: 15px;
}

.res-logo {
  width: 100%;
  border-radius: 25px;
  height: 200px; 
}
.rest-Container {
  display: flex;
  flex-wrap: wrap;
}
.top-rated{
  margin: 10px;
  cursor: pointer;
}
.shimmer-container{
  display: flex;
  flex-wrap: wrap;
}
.shimmer-card{
  width: 200px;
  height: 400px;
  background-color: #f0f0f0;
  margin:5px;
}